target/
.mvn/
mvnw
mvnw.cmd
application-secrets*.properties
application-prod-secrets*.properties
.env
*.env
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath
.DS_Store
Thumbs.db
*.log
logs/
